@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap);
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);

//Variable
$bkg-cl: rgba(0, 255, 255, 0.65) !important;
$darkgrey: rgb(20, 46, 46) !important;
$bkgfnt: rgba(22, 40, 34, 0.485) !important;
$fntcolor: rgb(199, 197, 197) !important;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

//CSS
body{
    font: {
        family: Caveat !important;
        size: 27px !important;
    }
    animation: fade-in-right 500ms forwards;

    @keyframes fade-in-right {
        0%{
            transform: translateX(-10);
            opacity: 0;
        }

        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.wrapper{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    ".grid-container .grid-container .grid-container"
    "footer footer footer";
}
header{
    grid-area: "header";
}

main{
    grid-area: "main";
}

footer{
    grid-area: "footer";

    
}

/* Start header */
header{
    nav{
        background-color: $bkg-cl !important;

        li{
            .nav-item{
                color: $darkgrey;
            }
            .nav-link{
                &:hover{
                    color: $darkgrey;
                }
            }
        }
    }
}

main{
    h1{
        text-align: center;
    }

    p{ 
        width: 75vh;
        text-align: center;
        position: relative;
        left: 30rem;
    }
}

.grid-container{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-area: ".grid-container";
   justify-content: space-evenly;

   #card1{
    opacity: 0.5;
    img{
        height: 10rem;
    }
   }

   #card2{
    opacity: 0.3;
    img{
        height: 5rem;
    }
   }

   #card3{
    opacity: 0.2;
    img{
        height: 6rem;
    }
   }
}